@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
/* header releted styles */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 100px;
}


nav{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin-right: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.span-logo{
    color: #FF42A5;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
}
.header-first-part{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-last-part{
    display: flex;
    align-items: center;
    
    
}
.header-social{
    display: flex;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
align-items: center;
}
.header-img{
    width: 86.041px;
    height: 40px;
}
.header-img2{
    width: 33.916px;
height: 24px;

}
.banner{
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
}
.banner-content h2{
    margin: 0;
}
.banner-content h1{
    margin: 0;
}
.banner-img{
    
}
.banner-content h2{
color: #0B0223;
font-size: 40px;

}
.banner-content h1{
font-size: 75px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.intro-description{
 color: #534C64;
 margin-bottom: 20px;

font-size: 20px;

font-weight: 500;

text-transform: lowercase;
}
.head-btn{
    display: flex;
    justify-content: space-around;

}
.first-btn{
    display: inline-flex;
    padding: 10px 20px;
    background: #FF42A5;
    border-radius: 48px;
    border: 0;
    color: #FFF;

}
.second-btn{
    display: inline-flex;
    padding: 10px 20px;
    background: #4EC5F7;
    border-radius: 48px;
    border: 0;
    color: #FFF;

}
.feature-card{
    display: flex;
    padding: 20px 80px;
    gap: 10px;
}
.card-title{
    padding: 50px 200px;
    text-align: center;
}
.funnyvidu{
    color: #FF42A5;
}
#install-description{
    text-align: right;
}

.feature-descrip{
    color: #534C64;
text-align: center;
font-size: 1rem;
font-weight: 400;
}
.card img{
    width: 100%;
    height: 80%;
    
    
}

.card-img:hover{
  border: 2px solid tomato;
  border-radius: 15px;

}
    
.install{
    display: flex;
    text-align: center;align-items: center;
}
.install-content{
    padding: 50px 80px 50px 150px;


}
.overly-img1{
    width: 100%;
}
.overly-img{
    margin-right: 100px;
}
.overly-img2{
    position: relative;
    bottom: 130px;
    right: 150px;
}
.install-title{
text-align: right;
font-size: 3rem;
font-weight: 500;

}
.option{
    display: flex;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  
}
.games{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    gap: 10px;
}
.games:hover{
    border: 2px solid slategray;
}
.footer-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.footer-story{
    display: flex;
    justify-content: space-around;
    padding: 20px 300px;
}
.footer-icon{
    display: flex;
    justify-content: space-around;
    padding: 5px 500px;

}
.footer-terms{
    display: flex;
    justify-content: space-around;
    padding: 5px 400px;

}
.footer-last{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}
.footur{
    background: #4EC5F7;
    margin-top: 100px;
}
@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    nav li{
        flex-direction: column;
    }
    .header-last-part{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 10px;
        gap: 20px;
    }
    .header-social{
        margin-top: 10px;
        

    }
    .header-first-part{
        padding: 5px 20px;
        justify-content: center;
    }
    .banner-content h1{
        margin: 0;
    }
    .banner-content h2{
        margin-top: 50px;
    }
    header{
        padding: 20px 50px;
    }
    .banner{
        flex-direction: column;
        padding: 5px;
        gap: 30px;
        
    }
    .banner-img{
        width: 80%;
    }
    .card-title{
        padding: 5px 20px;
        margin-top: 50px;
    }
    .feature-card{
        flex-direction: column;
    }
    .install-content{
        padding: 50px; 
    }
    .overly-img{
        padding: 20px;
        margin-right: 0px;
    }
    .overly-img2{
        padding: 20px;
    }
    .install{
        flex-direction: column;
       
    }
    .option{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px 20px;
        
    }
    .footer-story{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px 90px;
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px 120px;

    }
    .footer-terms{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px 100px;
    }

}
@media screen and (min-width:576px) and (max-width:992px){
    *{
        margin: 0;
    }
    nav{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header-first-part{
        justify-content: center;
        margin-bottom: 20px;
    }
    .banner{
        padding: 0px;
        max-width: 400px;
        
    }
    .footer-icon{
        padding: 20px 40px;
    }
    .banner-content h1{
        max-width: 200px;
        font-size: 4rem;
        font-weight: 300;
    }
    .banner-content h2{
        margin-top: 50px;
        font-size: 2rem;
        max-width: 200px;
    }
    .banner-img{
    width: 200px;
    }

}